.basket-card {
  width: 100%;
  max-width: 300px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}