.navigation {

  .navbar-brand {
    margin-left: 30px;
    font-weight: bold;
  }

  .circle-img {
    position: relative;
    top: -10px;
    right: 7px;
  }

  .counter-like {
    position: relative;
    top: -10px;
    left: -20px;
  }

  .counter-basket {
    position: relative;
    left: -20px;
    top: -10px;
  }

}