@import "~bootstrap/dist/css/bootstrap.min.css";

.container, .container-fluid, .row, .col {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: lightgray;
    min-height: 100%;
    position: relative;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 90vh;
    position: relative;
    padding-bottom: 200px;
}